---
layout: base
title: Hourglass Project Manager
---

<h1 class="main-title">The <em>project manager</em> you've waited for.</h1>

<p>
  Hourglass is a third-party project manager for <a href="">Godot Engine</a>,
  the free and open-source game engine. It keeps track of all your projects,
  but also the engine versions they use&mdash;all installed in parallel through one
  simple interface.
</p>

<div class="features">
  <span>
    <h2>One-Click Installs</h2>
    <p>
      Every version of Godot Engine, going back to 3.0, is just a click away.
    </p>
  </span>

  <span>
    <h2>Custom Engine Builds</h2>
    <p>
      Hourglass supports custom engine builds. Just add a new Custom Version and
      point Hourglass to your executable file.
    </p>
  </span>
</div>

<div id="screenshots">
  <img src="/assets/screenshots/projects.png" alt="The Projects tab"/>
  <img src="/assets/screenshots/new-project.png" alt="The New Project dialog"/>
  <img src="/assets/screenshots/versions.png" alt="The Versions tab"/>
</div>
<div id="screenshots-thumbnails" role="tablist"></div>

<h1>Downloads</h1>
<ul id="dl-list">
  <li><a href="https://jwestman.gitlab.io/hourglass/hourglass-linux.tar.gz">Linux</a></li>
  <li><a href="https://jwestman.gitlab.io/hourglass/hourglass-macos.zip">macOS</a></li>
  <li><a href="https://jwestman.gitlab.io/hourglass/hourglass-windows.zip">Windows</a></li>
</ul>

<h1>Changelog</h1>
<ul class="changelog-list">
  {% for post in site.categories.changelog %}
    <li>
      <a href="{{ post.url }}">
        <h3>{{ post.version }} <span class="changelog-date">{{ post.date | date_to_long_string }}</span></h3>
        <br/>
        {{ post.excerpt }}
      </a>
    </li>
  {% endfor %}
</ul>
