<!DOCTYPE html>
<html>
    <head>
        <meta name="referrer" content="no-referrer" />
        <link rel="stylesheet" href="/assets/styles.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ page.title }}</title>

        {% if page.og %}
          <meta property="og:title" content="{{page.title}}" />
          <meta property="og:type" content="{{page.og.type | default: 'website'}}" />
          <meta property="og:image" content="https://{{site.url}}/{{page.og.image}}" />
          <meta property="og:url" content="https://www.flyingpimonster.net{{page.url}}" />
          <meta property="og:description" content="{{page.excerpt | strip_html}}"/>
        {% endif %}

        <script defer="true" src="/assets/script.js"></script>
        <script async defer data-domain="hourglass.jwestman.net" src="https://plausible.io/js/plausible.outbound-links.js"></script>
    </head>

    <body>
        <header>
            <a href="/">
              <img src="/assets/splash.png" alt="Hourglass" />
            </a>
            <span class="spacer"></span>
            <a href="#downloads" id="download-button" class="display-none">Download</a>
        </header>

        <main>
            {{ content }}
        </main>

        <footer>
            <span class="footer-copyright">
                Copyright 2019-2020 <a href="https://www.jwestman.net" target="_blank" rel="noopener author">James Westman</a> and other contributors.
                <br/>
                Licensed under the <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank" rel="noopener">GNU GPL</a>, version 3 or later.
            </span>
            <span class="spacer"></span>
            <span class="footer-links">
                <a href="https://gitlab.com/jwestman/hourglass" target="_blank" rel="noopener">
                    <img src="/assets/thirdparty/gitlab.svg" alt="Source code on GitLab"/>
                </a>
                <a href="https://fosstodon.org/@flyingpimonster" target="_blank" rel="noopener">
                    <img src="/assets/thirdparty/mastodon.svg" alt="James Westman on Mastodon" class="mastodon"/>
                </a>
                <a href="https://twitter.com/flyingpimonster" target="_blank" rel="noopener">
                    <img src="/assets/thirdparty/twitter.svg" alt="James Westman on Twitter"/>
                </a>
            </span>
        </footer>
    </body>
</html>

